.slideshow img{
    max-height: 100%;
    
}

img.small-logo{
    height: 3rem;
   
}
.logodown{
    max-height: 7rem;
}
.carousel.slide{
    margin-top: 4rem;
}
.nav-item, .navbar-brand{
text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}
.biglogo{
    max-width: 10rem;
    margin-top: 2rem;
}
#carouselExampleControls{
    margin-top: 0;
}
#jumbotron-logo{
    margin-bottom: 0;
}
/* Footer */
.fas-logos{
    font-size: 2rem;
}
.fa{
    color:rgb(68, 67, 67);
}
.fa:hover{
    color:rgb(8, 8, 8);
    transform: scale(1.1);
}

/* resvonsive jumbotron logo */
@media (min-width: 768px){
    .biglogo{
        margin-top: 0;
        margin-bottom: -3rem;
    }

}